<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596387925054-gj1lf0tt534p2rd7tp21vldp8p2h97oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596387925054-gj1lf0tt534p2rd7tp21vldp8p2h97oi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>596387925054-0kpjvo2oktrq09j24i88jbpjklgkgl4s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIS-rDTHmQLVS2peqfl-nu4VsvjuISpmI</string>
	<key>GCM_SENDER_ID</key>
	<string>596387925054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arithmaniaFrontend</string>
	<key>PROJECT_ID</key>
	<string>arithmania2024</string>
	<key>STORAGE_BUCKET</key>
	<string>arithmania2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596387925054:ios:8cac76f6374d03b9a5956f</string>
</dict>
</plist>